* {
  padding: 0;
  margin: 0;
  /* outline: solid red 1px; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mainWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.windowWrapper {
  width: auto;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.topWrapper {
  height: 100px;
  width: 100%;
  background-color: hsl(0, 0%, 0%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.inputNumber {
  padding: 0px 10px;
  font-size: 2.3rem;
}

.numpadWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.topNumpad {
  display: flex;
}

.bottomNumpad {
  display: flex;
}

.operators {
  display: flex;
  flex-direction: column;
}

.numbers {
  width: 240px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  direction: rtl;
}

.calcButton {
  height: 80px;
  width: 80px;
  border: none;
  background-color: white;
  font-weight: 400;
  font-size: 1.3rem;
  transition: all 0.1s;
}

.calcButton:hover {
  transition: all 0.1s;
  background-color: hsl(0, 0%, 90%) !important;
}

.calcButton:active {
  background-color: hsl(0, 0%, 85%) !important;
  font-size: 18px;
}

#button-side {
  background-color: hsl(0, 0%, 95%);
}

#button-wide {
  width: 160px;
}